.itinerary-wrapper{
   .moreChild{
       color: #dddddd;
       &.active{
           color: $theme-color;
           .ic-up_down{
               &::before{
                content: '\e80d';
               }
           }
       }
   }
   .moreChildrenBlock{
       display: none;
   }
}